[Unit]
After=network.target
Description=downloader

[Service]
Type=simple
WorkingDirectory=/root/TG-BOTS/Uzbsavebot/media
ExecStart=/root/TG-BOTS/Uzbsavebot/env/bin/python3.9 user_bot.py
Restart=always

[Install]
WantedBy=multi-user.target